body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.logoutBtn{
  padding: 1rem 2rem;
  font-size: 18px;
  border: red solid;
}

.loginBtn{
  padding: 1rem 2rem;
  font-size: 18px;
  border: red solid;
}

.css-19kzrtu{
  padding: 24px 0px !important;
}

.css-zjzj46{
  padding: 0 !important;
  padding-top: 86px !important;
}